.game{
    margin-top: 20px;
    width:100%;
    display: flex;
    justify-content: center;
    table{
        $tableWidth:25vw;
        
        width:$tableWidth;
        height: $tableWidth;
   
        tr {

            td{
                text-align: center;
                font-size: 5vw;
                cursor: pointer;
                color: whitesmoke;
                border:inherit;
                width: calc( #{$tableWidth} / 3);
                height: calc( #{$tableWidth} / 3);
                &:first-child{
                    border-left: hidden;
                }
                &:last-child{
                    border-right:hidden ;
                }
            }
         border: 5px solid white;
            &:first-child{
                border-top: hidden;

            }
            &:last-child{
                border-bottom: hidden;
            }
        
     }
    }
    
       
}