<div class="game">
     
    <table>
      <tr>
        <td class="case">
            X
        </td>
        <td class="case">

        </td>
        <td class="case">

        </td>
      </tr>
      <tr>
        <td class="case">

        </td>
        <td class="case">

        </td>
        <td class="case">

        </td>
      </tr>
      <tr>
        <td class="case">

        </td>
        <td class="case">

        </td>
        <td class="case">

        </td>
      </tr>
    </table>
    </div>
