.main{
    background-color: #1e1e1e;
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .game-box{
        width: 50vw;
        height:70vh;
        .first-box{
           width:100%;
         //  background-color: blue;
           display:flex ;
           //justify-content: space-evenly;
           align-items: center;
           .form-check{
               margin-left:30px;
               .form-check-label{
                   color: white;
               }
           }
        }
        .second-box{
            margin-top: 10px;
            width:100%;
            display: flex;
            justify-content: space-evenly;
           // align-items: center;
            
            .player1,.player2{      
                width:15vw;
                height:40px;
                //background-color: blueviolet;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px white solid;
                p{ 
                  margin: 0;
                  color: white;
                  font-family: Arial, Helvetica, sans-serif;
                }
            }
            
        }
       
      
    }
}