<div class="main">
  <div class="game-box">
    <div class="game">
      <button type="button" class="btn btn-primary">Primary</button>
      <table>
        <tr class="ii">
          <td class="jj">

          </td>
          <td class="jj">

          </td>
          <td class="jj">

          </td>
        </tr>
        <tr class="ii">
          <td class="jj">

          </td>
          <td class="jj">

          </td>
          <td class="jj">

          </td>
        </tr>
        <tr class="ii">
          <td class="jj">

          </td>
          <td class="jj">

          </td>
          <td class="jj">

          </td>
        </tr>
      </table>
    </div>

  </div>
</div>