<div class="main">
  <div class="game-box">
    <div class="first-box">
      <!--button type="button" class="btn btn-secondary btn-sm dropdown-toggle">Medium</button-->
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]=false (change)="test($event.target)">
        <label class="form-check-label" for="flexSwitchCheckChecked">Versus AI</label>
      </div>
    </div>
    <div class="second-box">
      <div class="player1">
        <p>Player 1: <span>X</span> </p>
      </div>
      <div class="player2">
        <p>Player 2: <span>O</span> </p>
      </div>
    </div>
    <div class="third-box">

    </div>
    <app-game (childToParent)="childToParent($event)"></app-game>
    <div class="fourth-box">
     <span>Replay</span> 
    </div>
  </div>
</div>